@model IEnumerable<NLayerCasesStore.WEBMVC.ModelsView.CaseViewModel>
@{
    ViewBag.Title = "AllCases";
}
<a asp-action="AddOrder" asp-controller="Order">Add order</a>
<table class="table">
    <tr>
        <th>Company</th>
        <th>Model</th>
        <th>Color</th>
        <th>Price</th>
        <th>Store availability</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Company</td>
            <td>@item.Model</td>
            <td>@item.Color</td>
            <td>@item.Price</td>
            @if(item.CasesNumber > 0)
            {
            <td>"in stock"</td>
            }
            else
            {
            <td>not available</td>
            }
            <td>
                <a asp-action="DeleteCaseFromBasket" asp-controller="Basket" asp-route-id="@item.CaseId">Delete case from basket</a>
            </td>
        </tr>
    }
</table>
<div>
    <form asp-controller="Basket" asp-action="ClearBasket" method="post">
        <div class="form-group">
            <input type="submit" class="btn btn-default" value="Clear Basket" />
        </div>
    </form>
</div>